.animal-card {
    width: 300px;
    /* height: 300px; */
    margin: 20px;
    border: 1px solid var(--theme-complementary);
    z-index: 0;
    color:black;
    padding: 1em;
    position: relative;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(136, 136, 136);
    overflow: hidden;
    transition: all 0.5s;
    /* background-color: black;
    color: white; */
}

.animal-card-img {
    height: 50%;
    width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-grid;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
    
}

.animal-card:hover {
    box-shadow: 0px 0px 20px rgb(136, 136, 136);
    /* background: var(--theme-green);
    background: black;
    color: white; */
    cursor: pointer;
}

/* .animal-card:hover .call-to-action {
    background: black;
}  */
/* .animal-card .info {
    height: 0;
    animation: all 1s;
}

.animal-card:hover .info {
    height: auto;
    cursor: pointer;
} */

/* 
.animal-card .basic-info {
    background-color: white;
    color: black;
} */