.modal-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    z-index: 10;
    background: rgba(219, 221, 228, 0.9);
}

.modal {
    width: 75vw;
    height: 50vh;
    background: var(--theme-complementary);
    position: fixed;
    top: 25vh;
    left: 12.5vw;
    border-radius: 50px;
    padding: 1em;
}