#profile {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#profile main {
    width: 75vw;
    height: 75vh;
    padding: 50px;
    position: relative;
    background-color: #121024;
    border-radius: 50px;
    text-align: left;

}

#profile .tabs .bar {
    display: flex;
}

#profile .tabs .tab {
    margin: 0 10px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

#profile .tabs .tab.current {
    border-bottom: 2px solid var(--theme-green);
    color: var(--theme-green);
}